:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hover-effect: #2196f3;
  --button-background: #f5f4fa;
  --background-color: #fff;
  --footer-bg-color: #2f303a;
}
* {
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
/* Навигация в шапке */
.logo {
  font-family: 'Raleway', sans-serif;
  color: inherit;
  font-size: 26px;
  line-height: 1.2;
  font-weight: bold;
  text-decoration: none;
}
.logo .web-title {
  color: var(--hover-effect);
}
.nav-list,
.nav-contacts,
.button-list,
.projects-list,
.footer-list {
  list-style: none;
}
/* Контакты в шапке */
.contacts-link {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--hover-effect);
}
.nav-link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
  color: var(--hover-effect);
}
.nav-list .nav-link.current {
  color: var(--hover-effect);
}
/*-------------- Хэдер------------------- */
.nav-main {
  margin: auto;
  padding: auto;
  display: flex;
  height: 80px;
  border: 1px solid #ececec;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  display: flex;
  margin-left: 10px;
}
.nav-list {
  display: flex;
  margin: 0px 34px 0px;
  align-items: center;
  width: 294px;
  justify-content: space-between;
}

.nav-contacts {
  display: flex;
  padding: 0px 34px 0px;
  width: 357px;
  justify-content: space-between;
}
/* Класс невидимки */
.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}
/* Вспомогательный контейнер */
.container {
  width: 1200px;
}
/* -----------------------Студия------------------------------- */
/* Большой блок под рекламу  */
.hero-title {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px var(--primary-text-color);
  height: 120px;
  width: 696px;
  margin: 0 auto;
  padding-top: 200px;
  /* Тут сделаю тень чтобы было видно белый заголовок пока */
}
.hero {
  background-color: var(--footer-bg-color);
  height: 600px;
  margin: auto;
  padding: auto;
  text-align: center;
}
/* Кнопка на странице Cтудия */
.btn {
  background-color: var(--hover-effect);
  color: var(--background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: none;
  border-radius: 4px;
  margin: 5px;
  padding: 6px 22px;
  margin-top: 140px;
}
.btn:hover,
.btn:active {
  cursor: pointer;
}

/* Стили заголовка и текста на странице Cтудия */

.section-features {
  margin: auto;
  margin-top: 90px;
}
.features-list {
  display: flex;
  width: 1170px;
  flex-basis: calc(100% / 4);
}

.section-img {
  padding: auto;
  margin: auto;
  width: 1170px;
  text-align: center;
  margin-top: 90px;
}
.img-list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section-team {
  height: 648px;
  margin: auto;
  padding: auto;
  text-align: center;
  background-color: var(--button-background);
}
.section-team > h2 {
  padding-top: 80px;
}
.team-list {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-top: 90px;
}
.teammember:not(:last-child) {
  margin-right: 30px;
}
.teammember {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-header {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  padding-top: 0;
}
.header-three,
.name {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.1;
}
.header-three {
  text-transform: uppercase;
}
.features-text,
.job-title {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.job-title {
  line-height: 1.1;
}

/* ---------------Страница Портфолио----------------------- */

/* Header портфолио */

/* Кнопки перехода между проектами */
.button {
  background-color: var(--button-background);
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: none;
  border-radius: 4px;
  margin: 5px;
  padding: 6px 22px;
  white-space: nowrap;
}
.button:hover,
.button:focus {
  background-color: var(--hover-effect);
  color: var(--background-color);
  cursor: pointer;
}
/* кнопки навигации вверху в портфолио */
.button-list {
  display: flex;
  width: 611px;
  height: 54px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  margin-bottom: 34px;
}

/* Блок проэктов */
.projects-list {
  display: inline;
}
.project-link {
  text-decoration: none;
}
.header-two {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 20px 24px 4px;
}
.project-item .project-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin: 4px 24px 20px;
}
.projects {
  width: 1170px;
  height: 1360px;
  background-color: var(--background-color);
  margin: 90px auto 90px;
}
.projects-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-item {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
/* Блок контактов внизу */
.footer-link {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-style: normal; /* здесь пришлось перебить тег адрес */
  font-weight: 400;
  line-height: 1.71;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--background-color);
}
.footer {
  margin: auto;
  padding: auto;
  height: 252px;
}
footer {
  background-color: var(--footer-bg-color);
  display: flex;
  flex-direction: column;
}
footer > .logo {
  color: var(--background-color);
  padding-top: 60px;
  padding-left: 35px;
  padding-bottom: 20px;
}
.footer-list {
  height: 81px;
  align-content: space-between;
}
